body{

    background-image: url("wp1980779.jpg");
    background-size: cover;
   
} 

h1{
        color:white;
        text-align: c;
   
    color: white;
    font-size:x-large large;
    font-style: arial;
}
p{
    color: white;
}
    

img{
   
    width: 400px;
    height: 400px;
}

.ok {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }
  h4{

    color: blueviolet;
  }